<h1>Listing changings</h1>

<table>
  <tr>
    <th>Pee
    <th>Poo
    <th>Timestamp
    <th>
    <th>
    <th>
<% @changings.each do |changing| %>
  <tr>
    <td><%= changing.pee ? "X" : "" %>
    <td><%= changing.poo ? "X" : "" %>
    <td><%= changing.time.strftime("%Y-%m-%d %H:%M:%S")%>
    <td><%= link_to 'Show', changing %>
    <td><%= link_to 'Edit', edit_change_path(changing) %>
    <td>(<%= link_to 'x', changing, method: :delete, data: { confirm: 'Are you sure?' } %>)
<% end %>
</table>

<br>

<%= link_to 'New Changing', new_change_path %>
