<% content_for :head do %>
<style>
  <% if !@can_end_sleep %>
    #end-sleep { display: none; }
  <% end %>
  .list .button {
    position: relative;
    right: auto;
    float: left;
  }
</style>
<% end %>

<ul class="segmented-controller">
  <li><a href="#feed-section"><span class='count'><%= @feedings_count %></span>Feed</a>
  <li><a href="#change-section"><span class='count'><%= @changings_count %></span>Change</a>
  <li><a href="#sleep-section"><span class='count'><%= @sleepings_count %></span>Sleep</a>
</ul>
<ul class="inset list">
  <li id="feed-section" class="segmented-controller-item">
    <%= render "feeding_section", feeding: @feeding %>
  </li>
  <li id="change-section" class="segmented-controller-item">
    Item 2
  </li>
  <li id="sleep-section" class="segmented-controller-item">
    <a id='end-sleep' class='button'>End</a>
    <a id='start-sleep' class='button'>Start</a>
  </li>
</ul>

<% content_for :script do %>
<script>
  var token = "<%= form_authenticity_token %>";

  $("#start-sleep").click(function() {
    var a = $(this);
    $.post("<%= sleeping_schedules_path %>", {authenticity_token: token}, function() {
      var span = a.find('span');
      span.text(parseInt(span.text()) + 1);
      $("#end-sleep").show();
    });
  });

  $("#end-sleep").click(function() {
    var a = $(this);
    $.post("<%= end_sleep_sleeping_schedules_path %>", {authenticty_token: token}, function() {
      a.hide();
    });
  });
</script>
<% end %>
