<!DOCTYPE html>
<html>
<head>
  <title>Feedcharlotte</title>
  <%= stylesheet_link_tag *['common', 'ratchet'].concat(@page_css || []).uniq %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width = device-width">
</head>
<body>
  <header class="bar-title">
    <h1 class="title">Tracker</h1>
  </header>
  <div class="content">
    <%= yield %>
  </div>
  <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
  <%= javascript_include_tag *[].concat(@page_js || []).uniq %>
  <%= yield :script %>
</body>
</html>
